body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  background-color: #282c34;
  padding: 20px;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Navbar {
  background-color: #333;
}

.Navbar ul {
  background-color: #282c34;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Navbar li {
  float: left;
}

.Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar li a:hover {
  background-color: #ddd;
  color: black;
}
